// MY THEME COLORS
$green:   #61764B;
$orange:  #9BA17B;
$teal:    #CFB997;
$yellow:  #FAD6A5;


// WHITE AND GRAY COLORS
$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$primary:       $green;
$secondary:     $orange;
$success:       $teal;
$info:          $yellow; 

// IMPORT BOOTSTRAP
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";