@use 'custom';

.dropdown-menu {
    background: #FAD6A5;
}

.categorias ul li {
    display: inline;

    a {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        background-color: #61764B;
        border-radius: 20px;
        padding: 8px 12px 8px 12px;
        margin-right: 1.5rem;
        color: white;
    }
}